<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.nick.app.screencast">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT" />
    <uses-permission android:name="android.permission.CAPTURE_SECURE_VIDEO_OUTPUT" />

    <application
        android:name=".app.ScreencastApp"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <service
            android:name=".ScreencastService"
            android:exported="false"
            android:label="@string/app_name"
            android:permission="android.permission.CAPTURE_SECURE_VIDEO_OUTPUT">
            <intent-filter>
                <action android:name="org.cyanogenmod.server.display.SCAN" />
            </intent-filter>
        </service>
        <service android:name=".camera.CameraPreviewService" />

        <activity
            android:name=".ui.ScreenCastActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".ScreencastStartReceiver"
            android:permission="android.permission.CAPTURE_SECURE_VIDEO_OUTPUT">
            <intent-filter>
                <action android:name="org.cyanogenmod.ACTION_START_SCREENCAST" />
                <action android:name="com.cyanogenmod.ACTION_START_SCREENCAST" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ScreencastControlReceiver">
            <intent-filter>
                <action android:name="org.cyanogenmod.ACTION_STOP_SCREENCAST" />
                <action android:name="org.cyanogenmod.SHOW_TOUCHES" />
            </intent-filter>
        </receiver>

    </application>

</manifest>